.nr3{
    width: 100%;
    height: 50vw;
    background-color: rgb(0, 255, 0); 
    margin: 0;
    position: relative;
}
.seasonNav{
display: grid;
grid-template-columns: repeat(4,1fr);
}
.seasonNav *{
    transition: all .5s ease;
    padding: 15px;
    
   
    background-color: transparent;
    border-color: brown;
    text-transform: uppercase;
    outline: none;
}
.seasonNav *:hover{
    color: #001F3F;
    background-color: #fff;
    border-bottom: none;
}

#forår{
    background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw;
}
#sommer{
    background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw;
}
#vinter{
    background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw;
}
#efterår{
    background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw;
}
#forår h2, #efterår h2, #sommer h2, #vinter h2{
    text-align: center;
}

.displayNone{
    display: none;
}

.forår_billede1{
    position: absolute;
    max-width: 5vw;
}



