.nr3 {
  /* width: 100%; */
  height: auto;
  background-color: rgb(0, 255, 0);
  margin: 0;
  position: relative;
  background-image: url(../svg/skovSVG.svg);
  background-size: cover;
  background-position: top, bottom;
  /* background-repeat: no-repeat; */
  aspect-ratio: 1920/1080;
  /* position: absolute; */
  width: 100vw;
  /* overflow-y: scroll; */
  /* enable overflow-y:scroll; efter man er fokuseret på .nr3 */
}
/* .nr3::after{
    overflow-y: scroll;
} */

.seasonNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(5px);
}
.seasonNav * {
  transition: all 0.5s ease;
  padding: 15px;
  border: solid rgb(77, 86, 179) 4px;
  border-bottom: solid rgb(77, 86, 179) 8px;
  border-left: solid rgb(77, 86, 179) 2px;
  border-right: solid rgb(77, 86, 179) 2px;
  /* background-color: transparent; */
  background-color: rgb(107, 143, 221);
  text-transform: uppercase;
  outline: none;
  font-family: Bubble;
  font-size: 2.5vw;
  color: rgb(48, 53, 115);
}
.seasonNav *:hover {
  color: #001f3f;
  background-color: rgba(255, 255, 255, 0.3);
}

.classGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 330px));
  gap: 4rem;
}

#forår {
  position: relative;
  /* background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw; */
}
#sommer {
  position: relative;
  /* background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw; */
}
#vinter {
  position: relative;
  /* background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw; */
}
#efterår {
  position: relative;
  /* background-image: url(../svg/by.svg);
    background-size: cover;
    aspect-ratio: 1920/1080;
    position: absolute;
    width: 100vw; */
}
#forår h2,
#efterår h2,
#sommer h2,
#vinter h2 {
  text-align: center;
  grid-row: 1;
}

/* .displayNone{
    display: none;
} */
.seasonDiv {
  overflow: hidden;
  margin: 20px;
  border: solid rgb(179, 116, 48) 4px;
  border-radius: 3vw;
  background-color: rgba(255, 207, 103, 0.744);
  backdrop-filter: blur(3px);
  box-shadow: rgb(179, 116, 48) 4px 4px;
}
.tempText {
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0.5vw;
}
.tempText h3 {
  margin-top: 0;
  margin-bottom: 0.5vw;
  font-family: Bubble;
}
.tempText p {
  margin-top: 0;
  margin-bottom: 0.5;
}
.seasonDiv img {
  width: 100%;
  height: auto;
}
.clickNav {
  border-bottom: none;
  background-color: rgba(122, 207, 221, 0.5);
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
}

@media (max-width: 450px) {
  .classGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .nr3 {
    height: 100vh;
  }

  .seasonDiv img {
    /* max-width: 100%; */
    max-height: 270px;
  }

  .seasonDiv {
    height: 600px;
    overflow: hidden;
    margin: 6px;
    border: solid rgb(179, 116, 48) 4px;
    border-radius: 3vw;
    background-color: rgba(255, 207, 103, 0.744);
    backdrop-filter: blur(3px);
    box-shadow: none;
  }

  .tempText {
    padding-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.5vw;
  }
}

.displayNone {
  display: none;
}

/* død ide--------------------- */
/* .trans{
    animation-name: toggleAni;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
@keyframes toggleAni{
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);
    }
} */
/* #forår_billede1 img{
    position: absolute;
    max-width: 5vw;
    left: 14%;
}
#forår_billede2 img{
    position: absolute;
    max-width: 5vw;
    left: 20%;
    bottom: 20%;
}
#forår_billede3 img{
    position: absolute;
    max-width: 5vw;
    left: 65%;
    bottom: 52%;
    
}
#forår_info1{
    width: 300px;
    height: 100px;
    border-radius: 15px;
    background-color: rgb(98, 99, 15);
    position: absolute;
    left: 20%;
    bottom: 77%;
    padding-left: 5px;
    
} */
