.nr1{
    width: 100vw;
    height: 100vh;
    /* background-image: url(../svg/by.svg); */
    /* background-color: red; */
    margin: 0;
    position: relative;
    overflow: hidden;
}

#background{
    aspect-ratio: 1920/1080;
    background-image: url(../svg/introSVGBG.svg);
    width: 100vw;
    position: absolute;
    /* top: 10%;
    left: 15%; */
}

#middleground{
    background-image: url(../svg/introSVGMG.svg);
    aspect-ratio: 1920/1080;
    width: 100vw;
    position: absolute;
    top: 0;
}

#foreground{
    background-image: url(../svg/introSVGFG.svg);
    aspect-ratio: 1920/1080;
    width: 100vw;
    position: absolute;
    top:0%;
}


/* ----------------ANIMATIONER------------------- */


.navAnim{
    animation-name: navAnim;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.17,.67,.98,1.13);
}

@keyframes navAnim{
    0%{
        transform: translateY(-145%);
        filter: opacity(0);
    }
    70%{
        transform: translateY(-145%);
        filter: opacity(0);
    }
    100%{
        transform: translateY(0%);
        filter: opacity(1);
    }
}

.midGrndAnim{
    animation-name: midGrndAnim;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes midGrndAnim{
    0%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}

.forGrndAnim{
    animation-name: forGrndAnim;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes forGrndAnim{
    0%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(0%);
    }
}

@media (max-width: 450px){
    #foreground{
        top: 5%;
    }

    #foreground, #middleground, #background{
        max-width: 100vw;
    }

    .nr1{
        max-height: 34vh;
        background-color: red;
    }
}