.nr1{
    width: 100vw;
    height: 100vh;
    /* background-image: url(../svg/by.svg); */
    /* background-color: red; */
    margin: 0;
    position: relative;
}

#background{
    aspect-ratio: 1920/1080;
    background-image: url(../svg/introSVGBG.svg);
    width: 100vw;
    position: absolute;
    /* top: 10%;
    left: 15%; */
}

#middleground{
    background-image: url(../svg/introSVGMG.svg);
    aspect-ratio: 1920/1080;
    width: 100vw;
    position: absolute;
}

#foreground{
    background-image: url(../svg/introSVGFG.svg);
    aspect-ratio: 1920/1080;
    width: 100vw;
    position: absolute;
}
